services:
  debug:
    container_name: debug
    image: ghcr.io/mborne/debug:master
    build:
      context: .
      args:
      - http_proxy
      - https_proxy
    ports:
    - ${DEBUG_PORT:-3000}:3000
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
        reservations:
          cpus: '0.1'
          memory: 256M
    restart: unless-stopped
