services:
  debug:
    image: ghcr.io/mborne/debug:master
    build: .
    ports:
    - ${DEBUG_PORT:-3000}:3000
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 128M
        reservations:
          cpus: '0.1'
          memory: 128M
    restart: unless-stopped
